<?xml version="1.0"?>

   <manifest xmlns:tools="http://schemas.android.com/tools"
       android:versionName="1.1" android:versionCode="2" package="com.djhs16.hslibs" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:allowBackup="false"
        tools:targetApi="donut"> </application>

</manifest>